<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.katelyn.empoweringthenation">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpoweringTheNation"
        tools:targetApi="31">
        <activity
            android:name=".landscaping"
            android:exported="false" />
        <activity
            android:name=".lifeskills"
            android:exported="false" />
        <activity
            android:name=".sewing"
            android:exported="false" />
        <activity
            android:name=".firstaid"
            android:exported="false" />
        <activity
            android:name=".gardenmaintenance"
            android:exported="false" />
        <activity
            android:name=".childminding"
            android:exported="false" />
        <activity
            android:name=".cooking"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".SixmonthCourse"
            android:exported="false" />
        <activity
            android:name=".Purchase"
            android:exported="false" />
        <activity
            android:name=".SixweekCourse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>